version: "3.8"

services:
  prometheus:
    image: prom/prometheus
    volumes:
      - ./prometheus:/etc/prometheus
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
    ports:
      - "9090:9090"

  snmp-exporter:
    image: prom/snmp-exporter
    volumes:
      - ./snmp-exporter:/etc/snmp_exporter
    ports:
      - "9116:9116"

  grafana:
    image: grafana/grafana
    ports:
      - "3000:3000"
